.genealogy-loading-container {
    max-width: 1080px;
    margin: 24px auto;
    mat-spinner {
        margin: 0 auto;
    }
}
.container {
    max-width: 1080px;
    margin: 24px auto;
}
h3 {
    color: #fff;
    font-weight: bold;
}