<ng-container *ngIf="!genealogyData && !hasError">
  <div class="genealogy-loading-container">
    <mat-spinner diameter="54"></mat-spinner>
  </div>
</ng-container>
<div class="container">
  <ng-container *ngIf="genealogyData && !hasError">
    <h3>{{title}}</h3>
    <div class="update-information" *ngIf="genealogyService.genealogyTimestamp">
      Sua última atualização foi feita as: {{genealogyService.genealogyTimestamp | date:'hh:mm:ss dd/MM/yyyy'}}
    </div>
    <app-genealogy-tree [data]="genealogyData" [formGroup]="genealogyFormGroup"></app-genealogy-tree>
  </ng-container>
  <ng-container *ngIf="hasError">
    Tivemos um problema ao carregar as informações:
  </ng-container>
</div>